
.container {
    position: relative;
    width: 100%;
    z-index: 7;
}

.trailler {
    position: relative;
    height: 498px;
    background-color: #000;
    border-top: 2px solid #fb4357;
}

.container .contents {
    width: 980px;
    height: 100%;
    margin: 0 auto;
}

.container .contents .videoBox {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.container .contents .videoBox::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.25) 75%, #000 100%);
    z-index: 2;
}

.container .contents .videoBox .video {
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(1.35);
    z-index: 1;
}

.container .contents .traillerTitle {
    position: absolute;
    top: 170px;
    left: 0;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    line-height: 1.450em;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 72%);
    z-index: 2;
    /* animation: tt1 1s 3s ease-in forwards; */
    pointer-events: none;
}

.container .contents .traillerText {
    display: -webkit-box;
    overflow: hidden;
    position: absolute;
    top: 239px;
    left: 0;
    max-width: 100%;
    font-size: 20px;
    color: #fff;
    line-height: 1.450em;
    text-overflow: ellipsis;
    z-index: 3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* animation: tt2 1s 3s ease-in forwards; */
    pointer-events: none;
}

.container .contents .traillerControllerBox {
    display: inline-flex;
    position: absolute;
    top: 315px;
    left: 3px;
    z-index: 4;
}

.container .contents .traillerControllerBox .videoStop {
    display: block;
    margin-left: 10px;
    width: 28px;
    height: 28px;
    font-size: 0;
    background: transparent url(../../../public/images/play.png) center/18px scroll no-repeat;
    border: 1px solid #979797;
    border-radius: 50%;
    cursor: pointer;
}
.container .contents .traillerControllerBox .videoPlay{
    display: block;
    margin-left: 10px;
    width: 28px;
    height: 28px;
    font-size: 0;
    background: transparent url(../../../public/images/pause.png) center/18px scroll no-repeat;
    border: 1px solid #979797;
    border-radius: 50%;
    cursor: pointer;
}

.container .contents .traillerControllerBox .detailViewLink {
    display: block;
    padding: 5px 30px 5px 18px;
    font-size: 14px;
    color: #343434;
    line-height: 1.429em;
    background: rgba(255, 255, 255, 0.8) url(../../../public/images/arrowR_8x13.png) calc(100% - 11px) center/8px 13px scroll no-repeat;
    border-radius: 15px;
}

.container .contents .traillerControllerBox .videoSoundOff {
    display: block;
    margin-left: 10px;
    width: 28px;
    height: 28px;
    font-size: 0;
    background: transparent url(../../../public/images/soundOff.png) center/18px scroll no-repeat;
    border: 1px solid #979797;
    border-radius: 50%;
    cursor: pointer;
}
.container .contents .traillerControllerBox .videoSoundOn {
    display: block;
    margin-left: 10px;
    width: 28px;
    height: 28px;
    font-size: 0;
    background: transparent url(../../../public/images/soundOn.png) center/18px scroll no-repeat;
    border: 1px solid #979797;
    border-radius: 50%;
    cursor: pointer;
}